@font-face{
    font-family: "lineyka";
    src: url("./ofont.ru_Lineyka.ttf");
}

body{
    background-color: #e2e7eb;
    color: rgb(45, 45, 45);
    font-family: "lineyka";
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.text-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-form label, .title-upload{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(45, 45, 45);
}

.text-form textarea {
    margin: 20px 0;
    border: 1px transparent solid;
    background: white;
    border-radius: 5px;
    outline: none;
    color: rgb(45, 45, 45);
    font-size: 18px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.text-form button {
    width: 100%;
    padding: 15px;
    background: #4c38f2;
    color: white;
    font-size: 18px;
    border: 1px transparent solid;
    border-radius: 5px;
    transition: 0.1s all ease-in-out;
    cursor: pointer;
    letter-spacing: 2px;
}

.text-form button:hover, .upload-form button:hover, .get-random-button:hover {
    background: #3d30c2;
}

.upload-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.upload-form label {
    width: 35%;
    padding: 15px;
    font-size: 18px;
    border: 1px transparent solid;
    border-radius: 5px;
    margin: 20px 0;
    cursor:pointer;
    text-align: center;
    background-color: white;
    font-weight: bolder;
}

.upload-form button {
    width: 55%;
    padding: 15px 0;
    background: #4c38f2;
    color: white;
    font-size: 18px;
    border: 1px transparent solid;
    border-radius: 5px;
    transition: 0.1s all ease-in-out;
    cursor: pointer;
    letter-spacing: 2px;
}


.upload-form input {
    display: none;
}

.get-random-button {
    width: 100%;
    padding: 15px;
    background-color: #4c38f2;
    border: 1px transparent solid;
    border-radius: 5px;
    font-size: 18px;
    color:white;
    letter-spacing: 2px;
    cursor: pointer;
}

